@import 'part:@sanity/base/theme/variables-style';

:root {
  --progress-bar-height: 0.5rem;
  --progress-bar-color: var(--brand-primary);
  --progress-bar-color-lighter: color(var(--brand-primary) alpha(80%));
}

@keyframes progressBarCycle {
  0% {
    background-position: 2rem 0;
  }

  100% {
    background-position: 0 0;
  }
}

.root {
  box-shadow: inset 0 0 0 1px var(--hairline-color);
  box-sizing: border-box;
  height: var(--progress-bar-height);
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.barContainer {
  position: relative;
  width: 100%;
  height: var(--progress-bar-height);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--border-radius-small);
}

.bar {
  height: var(--progress-bar-height);
  background-color: var(--progress-bar-color);

  @nest .isComplete & {
    background-color: var(--state-success-color);
  }

  @nest .isInProgress & {
    animation: progressBarCycle 0.5s linear infinite;
    background-color: transparent;
    background-size: 2rem 0.5rem;
    background-image: linear-gradient(
      90deg,
      var(--progress-bar-color),
      var(--progress-bar-color-lighter),
      var(--progress-bar-color)
    );
  }
}
