:root {
  --brand-darkest: #121923;
  --brand-lightest: #fff;
  --gray-base: #7b8ca8;
  --brand-primary: #2276fc;
  --brand-primary--inverted: #fff;
  --brand-secondary: #f03e2f;
  --brand-secondary--inverted: #fff;
}
