@import 'part:@sanity/base/theme/variables-style';

.root {
}

.label {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 600;
  padding: var(--extra-small-padding) 0;
  margin-bottom: var(--small-padding);
}

.card {
  background: var(--component-bg);
  border-radius: var(--border-radius-medium);

  @nest & > pre {
    font-family: var(--font-family-monospace);
    background: var(--gray-lighter);
    padding: calc(var(--medium-padding) - var(--extra-small-padding));
    margin: 0;
  }
}

.op {
  border-bottom: 1px solid var(--hairline-color);
  padding: calc(var(--medium-padding) - var(--extra-small-padding));
}

.ins {
  background: #cfc;
  color: green;
}
