.root {
  margin: -2px 0 -1px;
  font-size: 16px;
  line-height: 20px;

  @nest & ins {
    color: #0c0;
    background: #cfc;
    text-decoration: none;
  }

  @nest & del {
    color: #f00;
    background: #fcc;
  }
}
