@import 'part:@sanity/base/theme/variables-style';

.root {
  min-height: 100%;
  padding: var(--medium-padding);
  box-sizing: border-box;
  padding-top: 25vh;
  padding-bottom: 90vh;
}

.heading {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 1em;
}

/* .root {
  @nest & > pre {
    font-family: var(--font-family-monospace);
    background: var(--gray-lighter);
    padding: calc(var(--medium-padding) - var(--extra-small-padding));
    margin: 0;
  }
} */

.label {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  padding: var(--extra-small-padding) 0;
  margin-bottom: var(--small-padding);
}

.container {
  max-width: 540px;
  margin: 0 auto;
}

.fieldList {
  display: grid;
  grid-gap: 1.5em;
}
