@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--component-bg);
  border-radius: var(--border-radius-medium);
  padding: calc(var(--medium-padding) - var(--extra-small-padding));

  @nest & > div {
    font-size: 16px;
    line-height: 20px;
    margin: -2px 0 -1px;
  }
}
