@import 'part:@sanity/base/theme/variables-style';

.defaultDiff {
  background: var(--component-bg);
  padding: 0.75rem;
  font-size: 14px;
  border-radius: var(--border-radius-base);
}

.fromValue {
  background: var(--code-bg);
  color: var(--code-color);
  font-family: 'SF Mono', monospace;
  text-decoration: line-through;
  margin: 1em 0 0;
  padding: var(--small-padding);
  overflow: auto;
}

.toValue {
  background: var(--code-bg);
  color: var(--code-color);
  font-family: 'SF Mono', monospace;
  margin: 1em 0 0;
  padding: var(--small-padding);
  overflow: auto;
}
